@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center 
               h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
               bg-gray-800 text-green-500 
               hover:bg-green-600 hover:text-white
               rounded-3xl hover:rounded-xl transition-all
               duration-500 ease-in-out cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
                rounded-md shadow-md
                text-white bg-gray-900
                text-xs font-bold
                transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-main {
        @apply fixed top-0 left-0 h-screen
                w-16 flex flex-col 
                bg-gray-900 text-white shadow-lg;
    }

    .sidebar-hr {
        @apply border border-gray-700 rounded-full mx-2
    }

    .content-container {
        @apply flex flex-1 h-screen w-screen bg-gray-700 text-white;
        padding-left: calc(4rem + 0.8rem);
        padding-top: calc((1rem + 0.5rem) / 4);
    }

    .content-list {
        @apply flex w-full h-full mt-0 ml-0 mx-auto px-0
    }

    .card-container {
        @apply justify-center;
    }
    
    .card-body {
        @apply rounded-lg shadow-lg bg-white max-w-sm
    }

    .card-text {
        @apply p-6
    }

    .card-title {
        @apply text-gray-900 text-xl font-medium mb-2
    }

    .card-content {
        @apply text-gray-700 text-base mb-4
    }

    .card-btn {
        @apply inline-block px-6 py-2.5 bg-blue-600 text-white 
        font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 
        active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;

    }

    .card-img {
        @apply rounded-t-lg
    }
}