@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center 
               h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
               bg-gray-800 text-green-500 
               hover:bg-green-600 hover:text-white
               rounded-3xl hover:rounded-xl transition-all
               duration-500 ease-in-out cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
                rounded-md shadow-md
                text-white bg-gray-900
                text-xs font-bold
                transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-main {
        @apply fixed top-0 left-0 h-screen
                w-16 flex flex-col 
                bg-gray-900 text-white shadow-lg;
    }

    .sidebar-hr {
        @apply border border-gray-700 rounded-full mx-2
    }

    .content-container {
        @apply flex flex-1 h-full w-screen bg-gray-700 text-white absolute;
        padding-left: calc(4rem + 0.8rem);
        padding-top: calc((1rem + 0.5rem) / 4);
        z-index: -1;
    }

    .card-main {
        @apply flex font-sans
    }

    .card-img-div {
        @apply flex-none w-56 relative
    }

    .card-img {
        @apply absolute inset-0 w-full h-full object-cover rounded-lg
    }

    .card-body {
        @apply flex flex-wrap flex-auto p-6 bg-white
    }

    .card-title {
        @apply flex-auto font-medium text-slate-900 capitalize
    }

    .cardDesc {
        @apply w-full flex-none mt-2 order-1 text-sm font-bold text-slate-700
    }

    .cardBtn {
        @apply flex space-x-4 mb-5 text-sm font-medium
    }
    .subBtn {
        @apply flex-auto flex space-x-4
    }

    .card-btn {
        @apply h-10 px-6 font-semibold rounded-full bg-violet-600 text-white
    }
}