@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center 
               h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
               bg-gray-800 text-green-500 
               hover:bg-green-600 hover:text-white
               rounded-3xl hover:rounded-xl transition-all
               duration-500 ease-in-out cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
                rounded-md shadow-md
                text-white bg-gray-900
                text-xs font-bold
                transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-main {
        @apply fixed top-0 left-0 h-screen
                w-16 flex flex-col 
                bg-gray-900 text-white shadow-lg;
    }

    .sidebar-hr {
        @apply border border-gray-700 rounded-full mx-2
    }

    .content-container {
        @apply flex flex-col bg-gray-700 m-0 h-full w-full overflow-hidden
    }

    .content-list {
        @apply flex w-full h-full mt-0 ml-0 mx-auto px-0 items-center
    }
}